*{
    margin: 0;
    padding: 0;
}
.container12{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #141F28;
}
.container12 form{
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 9px;
}
.container12 .input-field{
    display: flex;
    flex-direction: column;
}
.container12 img{
    width: 200px;
    margin: 30px;
}
form h2{
    color: #013D5B;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    padding: 10px 0;
}
form .twopara{
    text-align: center;
    padding: 18px;
    font-size: 19px;
    text-decoration: none;
}
.input-field{
    width: 85%;
    gap: 10px;
}
.input-field input{
    width: 100%;
    padding: 10px 15px;
    outline: none;
    border: none;
    border: 1px solid gray;
    border-radius: 9px;
}
.input-field button{
    font-size: 20px;
    padding: 10px 0;
    border-radius: 9px;
    font-weight: 600;
    background-color: #013D5B;
    color: white;
    border: none;
    margin-bottom: 25px;
}
